.btnLostFound.show {
  display: block;
  height: 100%;
}

.btnLostFound.hide {
  display: none;
  height: 0;
}

.btnAddPost.show {
  display: block;
  height: 100%;
  background: rgba(239, 240, 246, 1);
}

.btnAddPost.hide {
  display: none;
  height: 0;
}
